@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar-medium::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    .scrollbar-small::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
  }